.calendar {
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: #ff7878;
    background-image: linear-gradient(315deg, #ff7878 0%, #ff0000 74%);
    color: white;
}

header {
    width: 100%;
    text-align: center;
    font-size: 2vw;
}

.slot {
    position: relative;
    perspective: 1000px;
    border: thick dashed white;
    border-collapse: collapse;
    height: 12rem;
    width: 12rem;
    margin: 2rem;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.slot.open {
    transform: rotateY(180deg);
}

.slot:not(.open) {
    cursor: pointer;
}

.slot > .front, .back {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
}

.slot > .front {
    background-color: rgba(255, 255, 255, 0.3);
}

.slot > .back {
    background-color: rgba(0, 0, 0, 0.3);
    transform: rotateY(180deg);
    padding: 1rem;
}

/* customizable snowflake styling */
.snowflake {
    color: white;
    font-size: 1rem;
    text-shadow: 0 0 1px #000;
}

@keyframes snowflakes-fall {
    0% {
        top: -10%
    }
    100% {
        top: 100%
    }
}

@keyframes snowflakes-shake {
    0% {
        transform: translateX(0px);
    }
    50% {
        transform: translateX(80px) rotate(270deg);
    }
    100% {
        transform: translateX(0px) rotate(360deg)
    }
}

.snowflake {
    position: fixed;
    transform-origin: center;
    z-index: 1;
    user-select: none;
    cursor: default;
    animation-name: snowflakes-fall, snowflakes-shake;
    animation-duration: 10s, 3s;
    animation-timing-function: ease-in-out, ease-in-out;
    animation-iteration-count: infinite, infinite;
    animation-play-state: running, running
}
