html {
  box-sizing: border-box;
  font-family: 'Merry Christmas 2021';
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'Merry Christmas 2021';
  src: url('MerryChristmas2021.woff2') format('woff2'),
  url('MerryChristmas2021.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Snowy';
  src: url('SnowyChristmas.woff2') format('woff2'),
  url('SnowyChristmas.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
